#play.ng-hide, #failed.ng-hide {
  display: none;
}

#play, #failed {
  display: block;
  z-index: 0;
  width: 800px;
  height: 400px;
  float: left;
}

#game {
  position: relative;
  width: 800px;
  height: 400px;
}

#game canvas {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.help {
  z-index: 100;
  border-radius: 5px;
  position: absolute;
  left: 200px;
  top: 15px;
  width: 400px;
  height: 350px;
  background-color: #AAA;
  padding: 10px;
}

.help.ng-hide {
 display: none;
}

.help li {
  display: block;
  font-family: Courier,monospace;
}

h1 {
}

h2 {
  color: #335;
}

h3 {
  color: #335;
}

span {
  background-color: #BBB;
  border: 1px solid;
  border-color: #A55;
  border-radius: 2px;
}

.gameButtons {
  z-index: 20;
  position: absolute;
  left: 80px;
  bottom: 0px;
}

.navigateButton {
  z-index: 20;
  position: absolute;
}

.navigateButton.topLeft {
  left: 3px;
  top: 3px;
}

.navigateButton.botLeft {
  left: 3px;
  bottom: 3px;
}

.navigateButton.topRight {
  right: 3px;
  top: 3px;
}

.navigateButton.botRight {
  right: 3px;
  bottom: 3px;
}
