<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="css/game.css" type="text/css" rel="stylesheet"></link>
    <title>index</title>
  </head>

  <body ng-app game-controller>
    <div id="game">
      <div id="play" ng-show="g.engine.running">
        <canvas id="gameWindow" width="800px" height="400px"></canvas>

        <img ng-click="g.movePlayer(-1,0)" class="navigateButton topLeft" src="images/arrow_ul.png"></img>
        <img ng-click="g.movePlayer(0,-1)" class="navigateButton topRight" src="images/arrow_ur.png"></img>
        <img ng-click="g.movePlayer(1,0)" class="navigateButton botRight" src="images/arrow_dr.png"></img>
        <img ng-click="g.movePlayer(0,1)" class="navigateButton botLeft" src="images/arrow_dl.png"></img>

        <div class="gameButtons">
          <img src="images/damage.png" ng-click="g.attackSelected()"></img>
          <img src="images/smoke_button.png" ng-click="g.smokeSelected()"></img>
          <img src="images/cycle.png" ng-click="g.cycleSelect()"></img>
          <img src="images/help.png" ng-click="g.help(true)"></img>
        </div>

        <div class="help" ng-show="g.showHelp">
          <h2>{{g.title}} help</h2>
          <h3>Controls:</h3>
          <ul>
            <li><span>1</span>,<span>3</span>,<span>7</span> and <span>9</span> to move.
            <li><span>f</span> to fire a damaging dart</li>
            <li><span>s</span> to fire a smoke dart</li>
            <li><span>*</span> to cycle through targets</li>
            <li><span>?</span> to toggle this help menu</li>
          </ul>

          <h3>Goals</h3>
          <p>You got the amulet! Now escape the dungeon. Find the staircases and climb out!</p>

          <span ng-click="g.help(false)">Close this help</span>
        </div>
      </div>

      <div id="failed" ng-show="!g.engine.running && !g.loading" class="ng-hide">
        <h1>{{g.message}}</h1>
        <button ng-click="g.again()">Play again</button>
      </div>
    </div>

    <script type="application/dart" src="main.dart"></script>
    <!-- for this next line to work, your pubspec.yaml file must have a dependency on 'browser' -->
    <script src="packages/browser/dart.js"></script>
  </body>
</html>